<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SupermarketLayoutApp">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SupermarketLayoutApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.ProductRegisterActivity"
            android:label="商品マスター登録"
            android:theme="@style/Theme.SupermarketLayoutApp" />
        
        <activity
            android:name=".ui.ProductJsonManagerActivity"
            android:label="商品JSON管理"
            android:theme="@style/Theme.SupermarketLayoutApp" />
        
        <activity
            android:name=".ui.PerplexityWebViewActivity"
            android:label="AI検索"
            android:theme="@style/Theme.SupermarketLayoutApp" />
        
        <activity
            android:name=".ui.LayoutEditorActivity"
            android:label="売場レイアウト編集"
            android:theme="@style/Theme.SupermarketLayoutApp" />
    </application>

</manifest>
